################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RefundSystem/RefundSystem.API/bin/Debug/net8.0
/RefundSystem/RefundSystem.API/obj
/RefundSystem/RefundSystem.Core/obj
